body {
    //background: url("/static/images/aboutme_techie_discbg.gif");
	font-family: "Courier New", monospace;
	font-size: 16px;
	font-weight: normal;
    background: #1e1e1e;//black;
    body: white;
}

td {
    font-size: 14px;
    line-height: 16px;
}

h1 {
    font-size: x-large;
    margin-bottom: 0.5em;
}

h2 {
	font-family: "Courier New", monospace;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: green;
    margin-top: 0em;
    margin-bottom: 0em;
}


h3 {
	font-family: "Courier New", monospace;
    font-size: 16px;
	font-weight: bold;
    color: green;
    margin-top: 0em;
    margin-bottom: 0em;
}

// TODO These are 'working' for now, but they need to be changed.
a:link {
	color: blue;
}

a:visited {
	color: lightblue;
}

a:hover {
	color: red;
}

a:active {
	color: blue;
}


	
